html {
    font-size: 100%;
}

*, *:before, *:after {
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    font-size: inherit;
    line-height: 1;
} 

body {
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 20rem;
}

input, button, textarea {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}
a, a:link, a:visited, a:hover {
    color: inherit;
    text-decoration: none;
}

ul li {
    list-style: none;
}

img, picture, svg, video {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
    shape-margin: 0.5rem;
    font-style: italic;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

@media (prefers-reduced-motion: no-preference) {
    :has(:target) {
        scroll-behavior: smooth;
        scroll-padding-top: 1rem;
    }
}